/* SecuritySection.module.css */
.section {
  background-color: #f0fff4;
  padding: 4rem 1rem;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
}

.title {
  font-size: 2.25rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  font-family: 'Merriweather', serif;
  margin-top: 1rem;
}

.subtitle {
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 3rem;
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
}

.featuresGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.featureColumn {
  width: 100%;
  margin-bottom: 2rem;
}

.feature {
  display: flex;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.featureIcon {
  background-color: #FF6600;
  border-radius: 9999px;
  padding: 0.75rem;
  margin-right: 1rem;
  flex-shrink: 0;
  color: #f0fff4;
}

.featureContent {
  flex-grow: 1;
}

.featureTitle {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: blue;
  font-family: 'Merriweather', serif;
}

.featureContent p {
  color: #111111;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  font-weight: 700;
}


.trustBadgesContainer {
  text-align: center;
  margin-bottom: 3rem;
}

.trustBadgesTitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  font-family: 'Merriweather', serif;
}

.trustBadgesSubtitle {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  font-family: 'Source Sans Pro', sans-serif;
}

.trustBadges {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.trustBadge {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #1228F3;
  border-radius: 0.25rem;
  padding: 1rem;
  font-weight: bold;
  font-size: 1 rem;
  width: 150px;
  height: 150px;
  font-family: 'Merriweather', serif;
}

.trustBadgeImage {
  margin-bottom: 0.5rem;
  width: 80px;
  height: 80px;
}

.reassurance {
  text-align: center;
  font-style: italic;
  max-width: 48rem;
  margin: 0 auto;
  color: #002366;
  font-size: 1.25rem;
  font-family: 'Source Sans Pro', sans-serif;
}

@media (min-width: 768px) {
  .featureColumn {
    width: 30%;
  }
}